.cita-container {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .cita {
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .autor {
    color: #000;
    margin-top: 10px;
    font-size: 1rem;
    font-style: italic;
  }
  