<ion-header>
  <ion-toolbar>
    <ion-title>Citas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAConfiguraciones()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar cita aleatoria si mostrarCita es true -->
  <div *ngIf="mostrarCita; else noCita" class="cita-container">
    <p class="cita">{{ cita }}</p>
    <p class="autor">- {{ autor }}</p>
  </div>

  <!-- Mensaje alternativo cuando mostrarCita es false -->
  <ng-template #noCita>
    <div class="no-cita-container">
      <p>Mostrar cita: Off.</p>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irAGestionCitas()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón de Inicio -->
      <ion-button routerLink="/inicio">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <!-- Botón de Atrás -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <!-- Botón de Adelante -->
      <ion-button (click)="goForward()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
